<!--<section>
    <div>
    <label for="titulo">Título de la noticia</label>
    <input type="text" id="titulo" [(ngModel)]="titulo">
    </div>
    <div>
        <label for="url">Inserta aquí la url de la imagen</label>
        <input type="url" id="url" [(ngModel)]="url">
    </div>
    <div>
        <label for="fechaPublicacion">Fecha de la publicación</label>
        <input type="text" id="fechaPublicacion" [(ngModel)]="fechaPublicacion">
    </div>
    <div>
        <label for="textoNoticia">Noticia</label>
        <input type="text" id="textoNoticia" [(ngModel)]="textoNoticia">
    </div>
    <button (click) ="guardarNoticia">Publica la notícia</button>

</section>




-->
  <div>
    <div>
      <label for="title">Título de la noticia</label>
      <input type="text" id="title" [(ngModel)]="title">
    </div>
  
    <div>
      <label for="text">Url de la noticia</label>
      <input type="text" id="url" [(ngModel)]="url">
    </div>

    <div>
        <label for="fechaPublicacion">Fecha de la publicación</label>
        <input type="text" id="fechaPublicacion" [(ngModel)]="fechaPublicacion">
    </div>

    <div>
        <label for="textoNoticia">Texto de la noticia</label>
        <input type="text" id="textoNoticia" [(ngModel)]="textoNoticia">
    </div>
  
    <button (click)="guardar()">Enviar noticia</button>
  </div>


  <section>
    <h1>
      Latest News
    </h1>
    <div class="featured-news">
        <article *ngFor="let noticia of arrNoticias">
            <h3>{{noticia.title}}</h3>
            <p>{{noticia.fechaPublicacion}}</p>
            <img [src]="noticia.url" [alt]="noticia.title">
            <p>{{noticia.textoNoticia}}</p>
        </article>
      </div>
  </section> 