<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://res.cloudinary.com" />
    <link ref="dns-prefetch" href="https://res.cloudinary.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link ref="dns-prefetch" href="https://fonts.googleapis.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Blog de Noticias</title>
</head>

<body>
<main class="wrapper">
    <header>
        <div class="rc-section-header-layout rc-layout-flex">
              <h1>Blog de Noticias</h1>
            </div>
    </header>
    <!--Formulario-->
    <section>
        <div>
        <div class="rc-section-container">
          <label for="title" class="rc-section-gap">Título de la noticia</label>
          <input type="text" id="title" [(ngModel)]="title">
        </div>
      
        <div class="rc-section-container">
          <label for="text" class="rc-section-gap">Url de la noticia</label>
          <input type="text" id="url" [(ngModel)]="url">
        </div>
    
        <div class="rc-section-container">
            <label for="fechaPublicacion" class="rc-section-gap">Fecha de la publicación</label>
            <input type="text" id="fechaPublicacion" [(ngModel)]="fechaPublicacion">
        </div>
    
        <div class="rc-section-container">
            <label for="textoNoticia" class="rc-section-gap">Texto de la noticia</label>
            <input type="text" id="textoNoticia" [(ngModel)]="textoNoticia">
        </div>
        <button (click)="guardar()" class="rc-button">Enviar noticia</button>
      </div>
    </section>
      
    <!--Noticias añadidas-->
    <section class="rc-section-featured rc-layout-flex">
        <h2 class="rc-section-gap">Últimas noticias añadidas</h2>

        <div class="rc-section-featured__gallery rc-layout-grid">
            <article class="rc-section-featured__article rc-layout-flex-item">
                <h2 class="subItem">{{noticiasPrecargadas[0].title}}</h2>
                <img [src]="noticiasPrecargadas[0].url" [alt]="noticiasPrecargadas[0].title" class="rc-section-featured--preview subItem">
                <p class="subItem">{{noticiasPrecargadas[0].fechaPublicacion}}</p>
                <p class="subItem">{{noticiasPrecargadas[0].textoNoticia}}</p>
            </article>
            <article class="rc-section-featured__article rc-layout-flex-item">
                <h2 class="subItem">{{noticiasPrecargadas[1].title}}</h2>
                <img [src]="noticiasPrecargadas[1].url" [alt]="noticiasPrecargadas[1].title" class="rc-section-featured--preview subItem">
                <p class="subItem">{{noticiasPrecargadas[1].fechaPublicacion}}</p>
                <p class="subItem">{{noticiasPrecargadas[1].textoNoticia}}</p>
            </article>
            <article *ngFor="let noticia of arrNoticias" class="rc-section-featured__article rc-layout-flex-item">
                <h2 class="subItem">{{noticia.title}}</h2>
                <img [src]="noticia.url" [alt]="noticia.title" class="rc-section-featured--preview subItem">
                <p class="subItem">{{noticia.fechaPublicacion}}</p>
                <p class="subItem">{{noticia.textoNoticia}}</p>
            </article>
        </div>
      </section>
</main>
</body>
</html>


